@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .item0 ul {
    display: none;
  }
  .item0 {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 8px;
  }
  .item1 ul {
    display: none;
  }
  .item1 hr {
    display: none;
  }
  .item1 form {
    display: none;
  }
  .item1 img {
    position: relative;
    left: 200px;
  }

  .item21 {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
  }
  .item2 {
    display: none;
  }
  .item4 img {
    width: 769px;
  }
  .item4 {
    padding: 0px;
  }
  .item22 {
    display: flex;
    gap: 10px;
    padding: 0px;
  }
  .item22 img {
    width: 250px;
  }
  .card4 {
    display: none;
  }
  .item6 {
    padding: 0px;
  }
  .card1,
  .card2,
  .card3 {
    max-width: 253px;
    margin: auto;
    text-align: center;
  }
  .item7{
    padding: 0px;
    padding-bottom: 60px;
  }
  .card6 img,.card7 img{
    width: 350px;
  }
  .card11{
    display: none;
  }
  .item9{
    padding: 0px;
    padding: 60px;
  }
  .card8,.card9,.card10{
    max-width: 232px;
    margin: auto;
    text-align: center;
  }
  .item11{
    padding: 0px;
    padding-bottom: 60px;
  }
  .card16{
    display: none;
  }
  .card13,.card14,.card15{
    max-width: 253px;
    margin: auto;
    text-align: center;
  }
  .item13 img,.item14 img{
    width: 300px;
  }
  .itemss{
    display: none;
  }
  .item25 {
    gap: 100px;
}
.item27{
  display: none;
}
.item18{
  display: flex;
}
.item19 {
  display: flex;
  background-color: black;
  color: white;
  gap: 200px;
  padding: 50px 0px 0px 200px;
  line-height: 200%;
  flex-direction: column;
}
.item20 {
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  text-align: left;
  gap: 50px;
}

}